<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameEditor.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorldEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WorldEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WorldEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MapEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MapEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TilesetListEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TilesetListEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TilesetListEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TilesetEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TilesetEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TilesetEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LogWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LogWindowSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapListEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MapListEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MapListEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpriteListEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteListEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteListEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpriteEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpriteAnimationListEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteAnimationListEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteAnimationListEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpriteAnimationEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteAnimationEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SpriteAnimationEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SfxListEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SfxListEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SfxListEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SfxEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SfxEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SfxEditorSaved" serializeAs="String">
                <value>False</value>
            </setting>
        </GameEditor.Properties.Settings>
    </userSettings>
</configuration>